<!DOCTYPE html>
<html>
  <head>
    <title>About Us Section</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" type="text/css" href="css/about.css" />
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>Advocate George John</h3>
            <p>
              Advocate George John, is practicing advocate in the High Court of
              Bombay at Goa, India, for last 25 yrs. He is practicing in the
              field of Narcotic Drugs Psychotropic Substances cases, foreigner’s
              law, criminal law, and other criminal related laws. He taught
              various law subjects to the students for 6 yrs. He is the Gold
              medalist. He has done LL.M. (Commercial Law), LL.M. (IPR) Courses.
              He also did Diploma in Labour Laws and Tax laws He is dealing with
              OCI, PIO, Overstay, Exit Permission, Loss of Visa-passport,
              renewal of passport , extension of visa , Citizenship of India ,
              International Arbitration. , parole, furlough matters, bail,
              Anticipatory Bail, Criminal and Civil Writ Petition, Narcotic
              Drugs Psychotropic Substances cases, accident and Motor accident
              claim cases and other claims cases and Cyber Crime cases ,
              internet related offences , offences related to Information
              Technology Law, Offences under Intellectual property Act , Copy
              Right, Patent Law, Trademark, Geographical Indication Law,
              throughout India.
            </p>
            <div class="button">
              <a href="/">HOME</a>
            </div>
          </div>
        </div>
        <div class="image-section">
          <img
            src="https://goaadvocategeorge.com/images/img_1.jpg"
          />
        </div>
      </div>
    </div>
    <footer>
      <div class="container footerContainer">
        <div class="footer-nav flex flex-around flex-start flex-g-1">
          <div class="col flex flex-column flex-start flex-g-1">
            <h3 class="logo-holder">
              Services
            </h3>
            <div class="social-medias flex flex-g-1">
              <ul>
                <li>Practicing Advocate in all courts of India</li>
                <li>Consultant on all kinds of Foreigner’s Law on prior appointment and on payment in advance on hourly basis</li>
                <li>Consultancy is also available on telephone, on whatsapp</li>
                <li>Under him 5 qualified Advocates working under him independently throughout India</li>
              </ul>
            </div>
          </div>
          <div class="col flex flex-column flex-g-1 flex-start">
            <h3 class="col-title">Company</h3>
            <nav class="col-list">
              <ul>
                <li>Advocate Chamber No. 115A, Opp. Valanka Super Market, Calangute, Goa</li>
                <li>+91 9326101179</li>
                <li>advocatetgeorgejohn01@gmail.com</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
