<!DOCTYPE html>
<html>
  <head>
    <title>About Us Section</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" type="text/css" href="css/about.css" />
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>Advocate George John</h3>
            <p>
              Advocate George John, is practicing advocate in the High Court of
              Bombay at Goa, India, for last 25 yrs. He is practicing in the
              field of Narcotic Drugs Psychotropic Substances cases, foreigner’s
              law, criminal law, and other criminal related laws. He taught
              various law subjects to the students for 6 yrs. He is the Gold
              medalist. He has done LL.M. (Commercial Law), LL.M. (IPR) Courses.
              He also did Diploma in Labour Laws and Tax laws He is dealing with
              OCI, PIO, Overstay, Exit Permission, Loss of Visa-passport,
              renewal of passport , extension of visa , Citizenship of India ,
              International Arbitration. , parole, furlough matters, bail,
              Anticipatory Bail, Criminal and Civil Writ Petition, Narcotic
              Drugs Psychotropic Substances cases, accident and Motor accident
              claim cases and other claims cases and Cyber Crime cases ,
              internet related offences , offences related to Information
              Technology Law, Offences under Intellectual property Act , Copy
              Right, Patent Law, Trademark, Geographical Indication Law,
              throughout India.
            </p>
            <div class="button">
              <a href="/">HOME</a>
            </div>
          </div>
          <!-- <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div> -->
        </div>
        <div class="image-section">
          <img
            src="https://assets.website-files.com/62673e4070051ac9b30ad8c7/626a08b7ad20d840cca00273_Header%20Image%20Large.png"
          />
        </div>
      </div>
    </div>
  </body>
</html>
