<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon_io/site.webmanifest" />
    <title>My Advocate</title>
  </head>
  <body>
    <div style="text-align: center">
      <h4 style="color: red"><%= msg[0] %></h4>
    </div>
    <main class="main">
      <!-- Header -->
      <header class="header">
        <div class="container flex-between">
          <div class="logo">
            <a href="#">
              <!-- <img
                src="https://raw.githubusercontent.com/MohamedAridah/frontendmentor_url-shortening-api/main/images/logo.svg"
                alt=""
              /> -->
              <h1>Advocate</h1>
            </a>
          </div>
          <nav class="main-navgation flex-between flex-ver-top">
            <div class="nav-links">
              <a href="/about">About us</a>
              <a href="/contact">Contact / Enquiry</a>
              <!-- <a href="#resources">Resources</a> -->
            </div>
            <div class="nav-buttons">
              <% if(locals.isLoggedIn){ %>
              <h3><%= locals.name %></h3>
              <a href="/logout" class="log-in">Logout</a>
              <% } else { %>
              <a href="/login" class="log-in">Login</a>
              <a href="/login" class="sign-up btn btn-sm">Sign Up</a>
              <% } %>
            </div>
          </nav>
          <div class="burger-menu">
            <i class="fa-solid fa-bars icon"></i>
          </div>
        </div>
      </header>
      <!-- Landing -->
      <section class="landing">
        <div class="landing-text">
          <h1>No case too big, no case too small</h1>
          <p>
            Adv T George John
          </p>
          <a href="/contact" class="btn btn-lg">Get Started</a>
        </div>
        <div class="landing-image">
          <img
            src="https://goaadvocategeorge.com/images/img_1.jpg"
            alt="Working Illustration"
          />
        </div>
      </section>
      <!-- Features -->
      <section class="features" id="features">
        <div class="container">
          <!-- Advanced Features -->
          <div class="more-features">
            <div class="section-header">
              <h2>Practice Areas</h2>
              <p>
                Narcotic Drugs Psychotropic Substances cases, foreigner’s law,
                criminal law, and other criminal related laws. He taught various
                law subjects to the students for 6 yrs
              </p>
            </div>
            <div class="more-features-content">
              <div class="feature">
                <div class="feature-illustration">
                  <img
                    src="https://cdn.britannica.com/91/191791-050-04681C4C/drug-syringe-heroin-spoon.jpg"
                    alt="Feature Illustration Icon"
                  />
                </div>
                <div class="feature-details">
                  <h3>Narcotic Drugs</h3>
                  <p>
                    He taught various law subjects to the students for 6 yrs.
                  </p>
                </div>
              </div>
              <div class="feature">
                <div class="feature-illustration">
                  <img
                    src="https://karunasharma.com/wp-content/uploads/2021/06/Divorce-Lawyer.jpg"
                    alt="Feature Illustration Icon"
                  />
                </div>
                <div class="feature-details">
                  <h3>Divorce Law</h3>
                  <p>
                    He taught various law subjects to the students for 6 yrs.
                  </p>
                </div>
              </div>
              <div class="feature">
                <div class="feature-illustration">
                  <img
                    src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2017/01/30/543504-cyber-crime-120116.jpg"
                    alt="Feature Illustration Icon"
                  />
                </div>
                <div class="feature-details">
                  <h3>Cyber Crime cases</h3>
                  <p>
                    He taught various law subjects to the students for 6 yrs.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Pricing -->
      <section class="pricing" id="pricing">
        <div class="container">
          <div class="section-header">
            <h2>Book your appointment now !</h2>
            <a href="/contact" class="btn btn-lg">Get Started</a>
          </div>
        </div>
      </section>
    </main>
    <script src="js/script.js"></script>
  </body>
</html>
