<html lang="en">
  <head>
    <title style="color: brown">Login/Signup</title>
    <meta name="author" content="Zaur" />
    <meta descryption content="Presentation of website" />
    <meta name="keywords" content="technology, cyber security, software" />
    <meta http-equiv="refresh" content="100" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/register.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="/register" method="post">
          <div class="header">Sign Up</div>

          <div class="button-input-group">
            <div class="group input-group">
              <input type="text" placeholder="Name" name="name" required />
            </div>
            <div class="group input-group">
              <input type="text" placeholder="Phone" name="phone" required />
            </div>
            <div class="group input-group">
              <input type="email" placeholder="Email" name="email" required />
            </div>
            <div class="group input-group">
              <input
                type="password"
                placeholder="Password"
                name="password"
                required
                pattern=".{8,}"
              />
            </div>
            <div class="alert-text signup__alert">
              <span class="help__text">At least 8 character</span>
            </div>
            <div class="group button-group">
              <button class="signup-btn" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
      </div>

      <div class="form-container sign-in-container">
        <form action="/login" method="post">
          <% if (errors) { %>
          <h2 style="color: red"><%= errors[0] %></h2>
          <% } %>
          <div class="header">Sign In</div>
          <div class="button-input-group">
            <div class="group input-group">
              <input type="email" placeholder="Email" name="email" required />
            </div>
            <div class="group input-group">
              <input
                type="password"
                placeholder="Password"
                required
                name="password"
                pattern=".{8,}"
              />
            </div>
            <div class="alert-text signup__alert">
              <span class="help__text">At least 8 character</span>
            </div>
            <div class="form-link forgot">
              <a href="#" class="login-link">Forgot your password?</a>
            </div>
            <div class="group button-group">
              <button class="signin-btn" type="submit">Sign in</button>
            </div>
          </div>
        </form>
      </div>

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>Please login your personal info</p>

            <div class="group button-group">
              <button class="ghost" id="signIn">Sign in</button>
            </div>
          </div>

          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start your journey with us</p>

            <div class="group button-group">
              <button class="ghost" id="signUp">Sign up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/register.js"></script>
  </body>
</html>
